/*  Transition to Left */

.baseTransition.transitionLeft.notOnTransition .transitionChild{
	transform : translateX(70vw) !important;
    transition : transform 0.7s linear !important;
}
.baseTransition.transitionLeft.onTransition .transitionChild{
    transition : transform 0.7s linear !important;
	transform : translateX() !important;
}

/*  Transition to Right */

.baseTransition.transitionRight.notOnTransition .transitionChild{
	transform : translateX(-70vw) !important;
    transition : transform 0.7s linear !important;
}
.baseTransition.transitionRight.onTransition .transitionChild{
    transition : transform 0.7s linear !important;
	transform : translateX() !important;
}

/*  Transition to Right FAST */

.transitionRightFast.baseTransition.notOnTransition .transitionChild{
	transform : translateX(-20vw) !important;
    transition : transform 0.3s linear !important;
}
.transitionRightFast.baseTransition.onTransition .transitionChild{
    transition : transform 0.3s linear !important;
	transform : translateX() !important;
}

/*  Transition to Left-Down In angle */

.transitionToLeft-DownInAngle.baseTransition.notOnTransition .transitionChild{
	transform : translateX() !important;
    transition : transform 0.7s cubic-bezier(.43,.07,.47,.59) !important;
}
.transitionToLeft-DownInAngle.baseTransition.onTransition .transitionChild{
    transition : transform 2s cubic-bezier(.43,.07,.47,.59) !important;
    transform : translate(-90%,90%) !important;
}
